
@{
    ViewBag.Title = "ReClassTwoResult";
}

<h2>ReClassTwoResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("Bengali", "ClassTwoBengali", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("English", "ClassTwoEnglish", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassTwoMathematics", "AllTheResult")</div>
</div>


