
@{
    ViewBag.Title = "ReClassOneResult";
}

<h2>ClassOneResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("Bengali", "ClassOneBengali", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("English", "ClassOneEnglish", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassOneMathematics", "AllTheResult")</div>
</div>


