
@{
    ViewBag.Title = "ClassOne";
}

<h2>ClassOnes</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">

        @Html.ActionLink("Bengali", "Index", "Bengali")
        @Html.ActionLink("English", "Index", "English")

</div>



