
@{
    ViewBag.Title = "ClassFive";
}

<h2>ClassFive</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliFive")
    @Html.ActionLink("English", "Index", "EnglishFive")
</div>