
@{
    ViewBag.Title = "ClassThree";
}

<h2>ClassThree</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliThree")
    @Html.ActionLink("English", "Index", "EnglishThree")
</div>