
@{
    ViewBag.Title = "ClassTen";
}

<h2>ClassTen</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneTen")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoTen")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneTen")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoTen")
</div>