
@{
    ViewBag.Title = "ClassEight";
}

<h2>ClassEight</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliEight")
    @Html.ActionLink("English", "Index", "EnglishEight")
</div>