
@{
    ViewBag.Title = "ClassSeven";
}

<h2>ClassSeven</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneSeven")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoSeven")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneSeven")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoSeven")
</div>