
@{
    ViewBag.Title = "ClassSeven";
}

<h2>ClassSeven</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliSeven")
    @Html.ActionLink("English", "Index", "EnglishSeven")
</div>