
@{
    ViewBag.Title = "ClassNine";
}

<h2>ClassNine</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliNine")
    @Html.ActionLink("English", "Index", "EnglishNine")
</div>