
@{
    ViewBag.Title = "ClassEight";
}

<h2>ClassEight</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneEight")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoEight")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneEight")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoEight")
</div>