
@{
    ViewBag.Title = "ClassSix";
}

<h2>ClassSix</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneSix")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoSix")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneSix")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoSix")
</div>