
@{
    ViewBag.Title = "ClassFive";
}

<h2>ClassFive</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneFive")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoFive")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneFive")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoFive")
</div>