
@{
    ViewBag.Title = "ClassTwo";
}

<h2>ClassTwo</h2>

<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliTwo")
    @Html.ActionLink("English", "Index", "EnglishTwo")
</div>

