@model IEnumerable<MvcEight.Models.AllTheCourse>
@*@{
    ViewBag.Title = "ClassFourCourse";
}*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #90EE90;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<h2 style="text-align:center;">ClassFourCourse</h2>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTeacher)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTeacher)
            </td>

        </tr>
    }

</table>















